<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 5 years of experience as Electronics  engineer, and have worked
            at small scale industries. While I'm a proficient full-stack electronic product developer, my expertise is in building 
            product from requirements of any field. Specialy microcontroller based application, Internet of Things,PCB
            Designing.
            
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a senior individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed 24x7 water management system based on microcontroller and GSM technology to maintain Water level in Community Water Tanks.
    			</li>
          <li>
            Developed low cost and accurate VA meter based on microcotroller pic 16f913.
          <li>
            Delivered more than 20 workshops in different engineering institutes on IOT and embedded system.
    			<li>
            Worked on more than 300 academic projects for engineering students.
    			</li>
    			<li>
            Provided Training at MGIRI Wardha on LED Light Manufacturing.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
